title: digitalduke
tagline: 'личный блог о технологиях'
description: 'личный блог о технологиях'

url: https://digitalduke.blog
baseurl: ""

author:
  name: George P.
  url: https://digitalduke.blog

paginate: 5

permalink: /:title/

version: v1.2.0

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: 'highlight'

sass:
  style: :expanded

gems:
  - jekyll-sitemap
  - jekyll-feed

exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - CNAME
