.comment {
    position: relative;
    min-height: 60px;
    padding-left: 60px;
    margin: 24px 0;
}

.comment .gravatar {
    width: 44px;
    height: 44px;
    border-radius: 3px;
    float: left;
    margin-left: -60px;
}

.comment .gravatar >img {
    width: 44px;
    height: 44px;
    border-radius: 3px;
}

.comment .comment-body {
    position: relative;
    border: 1px solid;
    border-color: #c0d3eb;
    border-radius: 3px;
}

.comment-body::before, .comment-body::after {
    position: absolute;
    top: 11px;
    left: -16px;
    display: block;
    width: 0;
    height: 0;
    pointer-events: none;
    content: "";
    border-color: transparent;
    border-style: solid solid outset;
}

.comment-body::before {
    border-width: 8px;
    border-right-color: #c0d3eb;
}

.comment-body::after {
    margin-top: 1px;
    margin-left: 2px;
    border-width: 7px;
    border-right-color: #f1f8ff;
}

.comment .comment-header {
    background-color: #f1f8ff;
    border-bottom-color: #c0d3eb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: rgb(88, 96, 105);
    display: block;
    float: left;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 8px;
    width: 100%;
}

.comment .comment-header a:link {
    text-decoration: none;
}

.comment .comment-header a:hover {
    border-bottom:1px solid;
}

.comment .comment-header .comment-user {
    background-color: transparent;
    color: rgb(88, 96, 105);
    display: inline;
    float: none;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    margin-right: 10px;
}

.comment .comment-header .comment-date {
    background-color: transparent;
    color: #777;
    display: inline;
    float: none;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

.comment .comment-text {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    color: #333;
    font-size: 14px;
    line-height: 21px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    margin-bottom: -5px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.comment .comment-text pre {
    background-color: #f6f8fa;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
}

.comment .comment-text pre code {
    border: 0px solid #ddd;
}

.comment .comment-text code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
}

.pl-k {
    color: #d73a49;
}

.pl-e, .pl-en {
    color: #6f42c1;
}
